
.caixaLogin{
  width: 600px;
  border-radius: 20px;
  border: 2px solid #6B7280;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.caixaTexto p{
  font-size: 1.5rem;
  font-weight: bold;
}

.descricaoCaixa > *{
  margin-bottom: 20px;
}

.descricaoCaixa p{
  font-size: 1.2rem;
  color: #6B7280;
}

.entradaTexto{
  width: 100%;
  border-radius: 20px;
  border: 2px solid #6B7280;
  height: 40px;
  margin-bottom: 20px;
}

.entrar{
  width: 100%;
  border-radius: 20px;
  border: 2px solid #6B7280;
  background-color: black;
  color: white;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.semLogin{
  display: flex;
  justify-content: center; /*Isso so funciona para por no meio se nao for flex coluns*/
  font-size: 1.2rem;
}

.naotemConta{
  color: #6B7280;
}

.novoRegistro #direcionamento{
  display: flex;
  text-decoration: none;
  margin-left: 10px;
}

.novoRegistro #direcionamento p{
  margin-left: 5px;
  color: #2563EB;
}