.itens {
    border-radius: 20px;
    border: 2px solid #6B7280;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .descricao {
    padding: 5px 10px;
    width: 100%;
  }
  
  .descricao > * {
    margin-top: 8px;
  }
  
  .itensBotoes {
    display: flex;
    justify-content: space-between;
  }
  
  .tamanhoTenis {
    border: none;
    border-radius: 5px;
    border: 1px solid #6B7280;
    padding: 3px 6px;
  }
  
  .botaoCarrinho {
    margin-top: 8px;
    width: 100%;
    display: flex;
  }
  
  .descricao p {
    font-weight: bold;
    font-size: 17px;
  }
  
  .tamanhosDisponiveis {
    color: #6B7280;
  }
  
  .botaoCarrinho button {
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
  }
  
  .botaoCarrinho button > * {
    margin-left: 5px;
    margin-right: 5px;
  }