* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#Rodape {
    margin-top: 10px;
    bottom: 0;
    left: 0;
    background-color: black; 
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  
  #Rodape p{
    margin-right: 20px;
  }